<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>OSDImporter</name>
        <type>plugin</type>
        <creationDate>2025-01-01</creationDate>
        <lastUpdate>2025-01-01</lastUpdate>
        <author>OpenScales Project</author>
        <authorEmail>shanem@mtu.edu</authorEmail>
        <authorUrl>https://openscales.net</authorUrl>
        <version>0.1.0</version>
        <license>Apache-2.0</license>
        <description>
            Import OpenScales Definition (.osd) files as LimeSurvey surveys.
            Supports Likert arrays, list radio, multiple choice, VAS sliders,
            text display, short/long text, and multi-language surveys.
        </description>
        <compatibility>
            <version>6.0</version>
        </compatibility>
    </metadata>
    <settings />
</config>
